* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #1a1919;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #03e9f4;
    margin-top: 50px;
    font-size: 40px;
}

#login-form input[type="password"],
#login-form input[type="text"],
#login-form input[type="email"] {

    display: block;
    width: 70%;
    padding: 16px;
    border-radius: 17px 0px 17px 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid #03e9f4;
    color: #fff;
    font-size: 17px;
    box-shadow: 0px 3px 3px 0px #03e9f4

}


label {
    color: #fff;
    font-size: 20px;
}

.password-wrapper {
    position: relative;
}

#show {
    position: absolute;
    right: 32%;
    top: 60%;
    cursor: pointer;
    color: #fff;
}


#hide {
    position: absolute;
    right: 32%;
    top: 60%;
    display: none;
    color: #fff;
}


#login-form {
    margin-top: 50px;
    margin-left: 250px;
}

button{
    padding: 15px 40px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
    border: 2px solid #03e9f4;
  }
  
  button:hover {
    scale: 0.95;
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
 